<div>
    <form (ngSubmit)="onSubmit()">
        <div *ngFor="let question of questions" class="form-row">
            <div class="row">
                <div class="col-md-2">
                    <app-question [question]="question" [form]="form"></app-question>
                </div>
            </div>
        </div>
        <br>
        <div class="row form-row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" type="button" (click)="clearForm()">Clear</button>
            </div>
        </div>
    </form>

    <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
</div>