<div class="container">
  <form #heroForm="ngForm" autocomplete="off">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-user-circle"></i>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Name" id="name" required [(ngModel)]="model.name"
              name="name" #name="ngModel" minlength="3" maxlength="10">
            <div class="alert alert-danger" [hidden]="name.value">
              Name is required
            </div>
            <div class="alert alert-danger"
              [hidden]="!name.value || ((name.value.length>2 || name.value.length<11) && (name.valid || name.pristine))">
              Name is invalid
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-address-card"></i>
              </div>
            </div>
            <input type="text" [(ngModel)]="model.alterEgo" name="alterEgo" class="form-control" placeholder="Alter Ego"
              id="alterEgo">
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-power-off"></i>
            </div>
          </div>
          <!-- <label for="power">Hero Power</label> -->
          <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <br>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-success" [disabled]="heroForm.invalid">Submit</button>
      </div>
    </div>
  </form>
</div>